{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<style>

    .md-main {
        flex-grow: 0
    }

    .md-main__inner {
        display: flex;
        height: 100%;
    }

    .tx-container {
        overflow: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding-top: .0rem;
        background: linear-gradient(to bottom, var(--md-primary-fg-color), hsla(160deg,47%,55%,1) 100%,#fff 100%);
        width: 100vw; /* Set width to 100% of the viewport width */
        height: 100vh; /* Set height to 100% of the viewport height */
        background-size: cover; /* Ensure the background covers the entire container */
    }


    .tx-hero {
        margin: 5rem 2.8rem;
        color: var(--md-primary-bg-color);
        justify-content: center;
    }

    .tx-hero h1 {
        margin-bottom: 1rem;
        color: currentColor;
        font-weight: 700
    }

    .tx-hero p {
        margin-bottom: 1rem;
        color: currentColor;
        font-size:larger;
    }

    .tx-hero__content {
        margin: 0 0 0 0;
    }

    .tx-hero .md-button {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-top: 0.5rem;
        margin-right: .5rem;
        color: var(--md-primary-fg-color);
        padding-top: 3rem;
        padding-bottom: 1.5rem;
        border-radius: 10px;
        border-width: 0px;
        text-align: left;
        white-space: normal;
        height: 350px;
        box-sizing: border-box;
        justify-content: space-between;
    }

    .tx-hero .md-button--users {
        background-color: var(--md-primary-bg-color);
        border-color: var(--md-primary-bg-color);
    }

    .tx-hero .md-button--admins {
        background-color: var(--md-primary-bg-color);
        border-color: var(--md-primary-bg-color);
    }

    .tx-hero .md-button--developers {
        background-color: var(--md-primary-bg-color);
        border-color: var(--md-primary-bg-color);
    }

    .tx-hero .md-button:focus,
    .tx-hero .md-button:hover {
        background-color: var(--md-primary-fg-color);
        border-color: var(--md-primary-bg-color);
        color: var(--md-default-bg-color);
    }

    .tx-hero .md-button:focus .rounded-box,
    .tx-hero .md-button:hover .rounded-box {
        background-color: var(--md-primary-bg-color);
        border-color: var(--md-primary-bg-color);
        color: var(--md-primary-fg-color);
    }

    .tx-hero .md-button-sub-title {
        font-weight: bold;
        margin-bottom: 0;
        font-size: 0.8rem; /* Adjust the font size for titles */
        display: block;
    }

    .tx-hero .md-button-title {
        font-weight: bold;
        margin-top: -0.3rem;
        margin-bottom: 0;
        font-size: 1.7rem; /* Adjust the font size for titles */
        display: block;
    }

    .tx-hero .md-button-description {
        font-size: medium;
        font-weight: 400;
        margin-bottom: 0.5rem;
        display: block;
    }

    .tx-hero .rounded-box {
        border-radius: 10px; /* Adjust the value to change the roundness */
        background-color: var(--md-primary-fg-color); /* Background color of the box */
        color: var(--md-primary-bg-color); /* Background color of the box */
        width: 120px; /* Width of the box */
        height: 40px;
        display: flex; /* Use flexbox */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        align-self: flex-start;
    }

    .tx-hero .rounded-box p {
        padding: 0; /* Padding around the text */
        font-weight: 400;
        font-size: 0.8rem;
    }

    .tx-hero .buttons {
        display: flex;
        justify-content: space-between; /* Adjust as needed */
        align-items: flex-start; /* Align the tops of buttons */
        margin-top: 1rem;
    }

    @media screen and (max-width:30em) {
        .tx-hero h1 {
            font-size: 1.4rem
        }
    }

    @media screen and (min-width:60em) {
        .tx-hero__content {
            max-width: 45rem;
            margin-top: 1rem;
            margin-left: 0.75rem;
            align-items: center;
        }
    }

    .md-main {
        display: none;
    }

    .hero-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start; /* Align items to the top */
        width: 100%;
        margin: 0 auto; /* Center the container */
        box-sizing: border-box;
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    .hero-container-text {
        flex: 0 0 40%; /* Adjust the width of the left column */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start; /* Align items at the start */
        width: 100%;
        margin: 0 auto; /* Center the container */
        padding: 0px;
        box-sizing: border-box;
    }


    #lottie-container {
        flex: 0 0 60%; /* Adjust the width of the right column */
        margin: 0 auto;
    }

</style>

<main class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-hero">
        <div class="tx-hero__content">
            <h1>Google Cloud HPC Toolkit</h1>
            <div class="hero-container">
                <div class="hero-container-text">
                    <p>Cloud HPC Toolkit is an open-source software offered by Google Cloud which makes it easy
                        for customers to deploy HPC environments on Google Cloud.</p>
                    <p>The Toolkit Front End is an easy-to-use interface for creating HPC clusters, installing
                        applications, and submitting jobs.</p>
                </div>
                <div id="lottie-container"></div>
            </div>
            <div class="buttons">
                <a href="users/user_guide" class="md-button md-button--users">
                    <div>
                        <span class="md-button-sub-title">Front End</span>
                        <span class="md-button-title">Run</span>
                        <span class="md-button-description">Begin exploring and using the capabilities of the Front End.</span>
                    </div>
                    <div class="rounded-box">
                        <p>Learn more</p>
                    </div>
                </a>
                <a href="admins/admin_guide" class="md-button md-button--admins">
                    <div>
                        <span class="md-button-sub-title">Front End</span>
                        <span class="md-button-title">Install</span>
                        <span class="md-button-description">Explore deployment options for the Front End.</span>
                    </div>
                    <div class="rounded-box">
                        <p>Learn more</p>
                    </div>
                </a>
                <a href="developers/developer_guide" class="md-button md-button--developers">
                    <div>
                        <span class="md-button-sub-title">Front End</span>
                        <span class="md-button-title">Architecture</span>
                        <span class="md-button-description">Discover how the Front End works.</span>
                    </div>
                    <div class="rounded-box">
                        <p>Learn more</p>
                    </div>
                </a>
            </div>
        </div>
      </div>
    </div>
</main>
<script>
var animation = lottie.loadAnimation({
    container: document.getElementById('lottie-container'), // Container element
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: 'sRvmudTB3W.json', // Path to your JSON file
});
animation.setSpeed(0.2);
</script>

{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
